<div class="col">
  <div class="bg fill">
      <div class="col-md-6 text-center mx-auto fill">
        <div class="card-body transparent">
          <div class="card-header">
            <img class="rounded-circle face" src="/images/me.jpg"/>
            <p class="lead"><h4> Maksim Korzh</h4></p>
          </div>
          <hr class="my-4"/>          
          <p class="lead">
            Hobby programmer who grew up to be a freelancing web developer
            and the founder of the Code Monkey Kings community.
          </p>
          <hr class="my-4"/>          
          <div class="card-footer">
          <p>
            Feel absolutely free to ask any questions at:
          </p>
            <div class="badge badge-secondary">freesoft.for.people@gmail.com</div>
          </div>
          <p class="lead">
            <button class="btn btn-sm btn-outline-secondary" onClick="history.back()">Got it!</button>
          </p>
        </div>
      </div>
  </div>
</div>