<div class="col" ng-init="getPosts()">
  <div class="bg">
    <div class="card-header mx-auto bg-secondary text-white-50 text-center">
      Leave feedback or ask any question here!
    </div>
    <div class="card-body">
    <button type="button" class="btn btn-secondary bg-dark" onClick="history.back()">Back</button>      
    </div>
    <div class="col-md-8 text-left mx-auto">
      <div class="form-group">
        <textarea class="form-control noresize transparent" placeholder="Leave your post here" rows="3" ng-model="post.body"></textarea>
        <div class="row">
          <div class="col-md-2 ml-auto">
            <button type="button" class="btn btn-dark col-md-12" ng-click="addPost()">Post</button>
          </div>
        </div>
      </div>
      <div ng-repeat="post in posts.data | reverse">      
        <div class="card-header glass wrap">
          {{ post.body }}
        </div>
      </div>
    </div>
  </div>
</div>