<div class="col">
  <div class="bg fill">
    <div class="col-md-6 text-center mx-auto fill">
      <div class="card-body transparent">
        <div class="card-header">
          <p class="lead">
            In order to make one time donation instead of monthly subscription
            you need to subscribe to whatever amount you'd like to donate, then
            wait until transaction is completed and simply unsubscribe after.
          </p>
        </div>
        <hr class="my-4"/>          
        <p class="lead">
          <!-- Patreon -->
          <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
          <a href="https://www.patreon.com/bePatron?u=29097253" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
        </p>
        <h4>
          Thanks for your support, guys!
        </h4>
        <hr class="my-4"/> 
      </div>
    </div>
  </div>
</div>
