<div class="col" ng-init="getSoft()">
  <div class="card">
    <div class="card-header">
      Free software by Code Monkey King
    </div>
    <div class="card-body">


      <div class="row">


        <div class="col-md-4" ng-repeat="product in soft.data">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                </div>            
            </div>
          </div>
        </div>



      </div>
    
      
    </div>
  </div>
</div>