<div class="col">
  <div class="bg fill">
    <div class="row">


      <div class="card col-md-3 text-center glass">
        <div class="card-header">
          Free software
        </div>
        <div class="card-body">
          <h5 class="card-title">Our community's products</h5>
          <p class="card-text">Here you'll find various software created by the members of Code Monkey King's community</p>
          <a href="#!/freesoft" class="btn btn-sm btn-outline-secondary">Get for free</a>
        </div>
        <div class="card-footer text-muted">
          <a href="https://github.com/maksimKorzh" class="badge badge-secondary">https://github.com/maksimKorzh</a>
        </div>
      </div>

      <div class="col-md-6 text-center mx-auto">
        <div class="jumbotron transparent">
          <h1 class="display-4">Welcome home!</h1>
          <p class="lead">
            Code Monkey King's website is a free service to bring our YouTube community all together
            in one place. Here we can interact with each other in live mode, share our
            software projects and cooperate in business activity.
          </p>
          <hr class="my-4">
          <p>
            No registration required, you can share your thought, ask questions or leave feedbacks
            just instantly. Enjoy!
          </p>
          <p class="lead">
            <a class="btn btn-sm btn-outline-secondary" href="#!/community" role="button">start communication</a>
          </p>
          <a href="https://github.com/maksimKorzh/code-monkey-king" class="badge badge-secondary">Source code of this side</a>
        </div>
      </div>

      <div class="card col-md-3 text-center glass">
        <div class="card-header">Web scraping Kung Fu</div>
        <div class="card-body">
          <h5 class="card-title">Like this site?</h5>
          <p class="card-text">
            Check up my main project - a web site I've created for educational purposes
            to gain and improve your web scraping skills.
          </p>
          <a href="https://scrapingkungfu.herokuapp.com/" class="btn btn-sm btn-outline-secondary">Learn more...</a>
        </div>
        <div class="card-footer">
          <div class="badge badge-secondary">freesoft.for.people@gmail.com</div>
        </div>
      </div>
   
    </div>
  </div>
</div
